:root {
    --main-color: hsl(210, 10%, 30%);
    --main-color-dark: hsl(230, 10%, 30%);
    --main-color-light: hsl(190, 10%, 30%);
    --secondary-color: hsl(170, 20%, 45%);
    --secondary-color-light: hsl(170, 20%, 65%);
    --accent-color: hsl(58, 53%, 77%);
}

/* Header */
h1 {
    font-family: "Slackey";
    font-size: clamp(1.5rem, 8vw, 2.5rem);
    display: inline-block;
    margin: 0;
    /* padding: 0 1rem; */
    /* background-color: yellow; */
    background-image: linear-gradient(to right, rgb(203, 255, 15) 100%, transparent 100%);
    background-position: 0px .85em;
    background-repeat: repeat-x;
    background-size: 1em 0.5em;
}

body {
    text-align: center;
    max-height: 100%;
    font-family: "Klee One";
}

/* Main Container */
.main-wrapper {
    background-color: whitesmoke;
    border: 4px solid var(--main-color-dark);
    border-radius: 4px;
    box-shadow: .5rem .5rem var(--secondary-color);
    margin: 1rem;
}

main {
    overflow: hidden;
}

.container {
    padding: 1rem;
}

/* Grid */
.grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
    "a"
    "b"
    "c"
}

.container__playing {
    grid-area: a;
}

.container__playlist {
    grid-area: b;
}

.container__bottom {
    grid-area: c;
}

/* Main section styles */
.album_art__full img {
    margin: auto;
}

.wrapper__playlist {
    background-color: white;
    overflow-y: scroll;
    height: 400px;
    padding: 0;
    margin: 1rem;
    padding-right: 0.25rem;
    margin-right: 0.75rem;
    border: 2px dotted black;
}

footer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
}

/* Playlist Styles */

.playlist {
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
    padding: 0 .25rem;
}

.track__item {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 2px dotted black;
}

.track__item:last-child {
    border-bottom: none;
}

.track__thumb {
    margin: .5rem;
    margin-left: 0;
}

.track__details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.track__details p {
    margin: 0;
    padding: 0.5rem;
}

.track__title {
    font-weight: bolder;
    font-size: 1.15rem;
}

.track__time {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.track__artist {
    color:slategray;
}

/* Scrollbar */
.wrapper__playlist::-webkit-scrollbar {
    width: 6px;
    overflow: hidden;
}
.wrapper__playlist::-webkit-scrollbar-track {
    background-color: white;
}
.wrapper__playlist::-webkit-scrollbar-thumb {
    background-color: var(--secondary-color);
}
.wrapper__playlist::-webkit-scrollbar-thumb:hover {
    background-color: var(--secondary-color-light);
}

/* Icons */
.material-icons {
    font-family: 'Material Icons';
    font-size: 3rem;
}

.material-icons.xl {
    font-size: 5rem;
}

button {
    background-color: transparent;
    border: 0;
}

@media only screen and (min-width: 50em) {
    .grid {
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
        "a b"
        "c c"
    }

    .album_art__full img {
        max-height: 600px;
        width: auto;
    }

    .container__playlist {
        position: relative;
    }

    .wrapper__playlist {
        position:absolute;
        top: 1px;
        bottom: 1px;
        left: 1px;
        right: 1px;
        height: auto;
        overflow-y: scroll;
    }

    main {
        max-height: 80vh;
    }
    
}