/* Font and Variables Start */
:root {
    --main-color: #F1E4E4;
    --main-color-dark: #6C3737;
    --main-color-mid: #954B4B;
    --main-color-light: #F8F2F2;
    --secondary-color-dark: hsl(170, 20%, 45%);
    --secondary-color: hsl(170, 20%, 65%);
    --secondary-color-clear: hsl(170, 20%, 65%, 55%);
    --accent-color: hsl(58, 79%, 74%);
    --accent-color-clear: hsl(58, 79%, 74%, 65%);
}

@font-face {
    font-family: "IchijoLaura";
    src: url("../fonts/IchijoLaura.otf");
}

/* Font and Variables End */


/* Layout Start */

body {
    height: 100%;
    text-align: center;
    font-family: "Klee One", "IchijoLaura", sans-serif;
    background-color: var(--secondary-color-clear);
}

.container {
    padding: 1rem;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    padding: .5rem;
    background-color: var(--secondary-color);
    border-bottom: 4px solid var(--secondary-color-dark);
}

main {
    margin: 10vh 0;
    overflow: auto;

    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
    "a"
    "b"
}

.album_art__full {
    grid-area: a;
}

.playlist {
    grid-area: b;
}

.footer__wrap {
    position: fixed;
    width: 100%;
    bottom: 0;
    display: flex;
    flex-direction: column;
}

footer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    flex-grow: 1;
    width: 100%;
    background-color: var(--secondary-color);
}

/* Layout End */


/* Misc Styling Start */

h1 {
    font-family: "Slackey";
    font-size: clamp(1.563rem, 8vw, 2.441rem);
    display: inline-block;
    margin: 0;
    background-image: linear-gradient(to right, var(--accent-color) 100%, transparent 100%);
    background-position: 0px .85em;
    background-repeat: repeat-x;
    background-size: 1em 0.5em;
}

.album_art__full img {
    margin: auto;
    margin-bottom: 1rem;
    border: 2px dotted black;

    max-height: 550px;
    width: auto;
    
}

.progress {
    width: 100%;
    height: 10px;
    background-color: var(--accent-color);
}

.played {
    background-color: var(--secondary-color-dark);
    width: 10px;
    height: 100%;
}

.times {
    font-size: 1.25rem;
    font-weight: bold;
}

.warning {
    margin: 0.75rem;
    background-color: #f5f5f5;
}

.warning p {
    font-size: 1.25rem;
    color: var(--main-color-dark);
}

.hidden {
    display: none;
}

/* Misc Styling End  */

/* Playlist Styling Start */

.playlist {
    border: 2px dotted black;
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-direction: column;
}

.playlist .active {
    background-image: linear-gradient(to right, var(--secondary-color-clear) 8%, var(--accent-color-clear) 40%, transparent 95%);
}

.playlist .active img {
    box-shadow: 2px 2px var(--secondary-color-dark);
}

.playlist .active .track__title {
    text-decoration: var(--main-color-dark) wavy underline;
}

.track__item {
    background-color: var(--main-color-light);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 2px dotted black;
    padding: 0 .75rem;
}

.track__item:last-child {
    border-bottom: none;
}

.track__item:hover {
    background-color: var(--main-color);
}

.track__thumb {
    margin: .5rem;
    margin-left: 0;
}

.track__details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.track__details p {
    margin: 0;
    padding: 0.5rem;
}

.track__title {
    font-weight: bolder;
}

.track__time {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.track__artist {
    color:var(--main-color-mid);
}

/* Playlist Styling End */

/* Icons Start */

.material-icons-round {
    font-family: 'Material Icons Round';
    font-size: 1.953rem;
}

.material-icons-round.xl {
    font-size: 2.441rem;
}

/* Icons end  */

/* Buttons */

button {
    background-color: var(--main-color-light);
    border: 3px solid var(--main-color-dark);
    border-radius: 3px;
    padding: 0 .25em;
    box-shadow: .35rem .35rem var(--secondary-color-dark);
}

.controls button {
    margin-right: .75rem;
}

button:hover, button:focus {
    background-color: var(--main-color);
}

button:active {
    background-color: var(--main-color);
    transform: translate(.35rem, .35rem);
    box-shadow: inset 2px 2px 6px var(--main-color-dark);
}

/* Buttons end  */

@media only screen and (min-width: 50em) {
    main {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: max-content;
        grid-template-areas:
        "a b";
    }

    .track__title {
        font-size: 1rem;
    }

    .controls button {
        padding: 0 1em;
    }

    .times {
        font-size: 1.563rem;
    }

    .material-icons-round {
        font-size: 2.5rem;
    }
    
    .material-icons-round.xl {
        font-size: 3.5rem;
    }

}

@media only screen and (min-width: 60em) {

    .times {
        font-size: 1.75rem;
    }

    .material-icons-round {
        font-size: 2.441rem;
    }
    
    
    .material-icons-round.xl {
        font-size: 3.052rem;
    }

}

/*---- Animations when music is playing,
Turned off for now -----*/

/* .pulse {
    animation: pulse 1s infinite;
    box-shadow: 0px 0px 10px var(--accent-color);
} */

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    
    25% {
        transform: scale(.95);
        box-shadow: 0px 0px 20px var(--accent-color);
    }

    50% {
        transform: scale(1.03);
        box-shadow: 0px 0px 10px var(--accent-color);
        -webkit-transform: scale(1.03);
        -moz-transform: scale(1.03);
        -ms-transform: scale(1.03);
        -o-transform: scale(1.03);
}

    75% {
        transform:scale(.95);
        box-shadow: 0px 0px 20px var(--accent-color);
    }

    100% {
        transform: scale(1);
    }
}
